@model CirclesViewModel

<div class="text-center">
    @if (Model.Circles != null && Model.Circles.Any())
    {
        <h3>Your Circles</h3>

        <ul class="list-group">

            @foreach (var circle in Model.Circles)
            {
                <li class="list-group-item">@circle.Name</li>
            }

        </ul>
    }
    <div class="buttonForm">
        
        @using (Html.BeginForm("Create", "Circles", FormMethod.Post)) 
        { 
            @Html.TextBox("Name")
            <input class="btn btn-success btn-large" type="submit" value="Create New Circle" />
        } 

    </div>
</div>
